<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
			<buildProviders>
				<add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
			</buildProviders>
		</compilation>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
	</system.webServer>
	<connectionStrings>
	</connectionStrings>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
	</system.serviceModel>

  <appSettings>
    <add key="mgmtDB" value="Data Source=.;Initial Catalog=BizTalkMgmtDb;Integrated Security=True"/>
    <add key="mgmtDBServer" value="."/>
    <add key="mgmtDBName" value="BizTalkMgmtDb"/>
    <add key="ipRecordLimit" value="50"/>
    <add key="msgRecordLimit" value="50"/>
  </appSettings>
</configuration>
